/* PAGE BLOCK */
#constructorBlock {
    background-color: var(--bg-color);
    
    width: var(--constructor-block-width);
    padding: 25px 0px;

    display: flex;
    justify-content: center;

    overflow-y: scroll;
}

#pageBlockContainer {
    background-color: white;

    width: 700px;
    height:min-content;
    min-height: 100%;
    
    border-radius: var(--main-radius);
}
/* ========== */