/* PRINT FORM */
#pageBlock {
    width: 700px;
    padding: 25px;
    box-sizing: border-box;

    font-size: 14px;
    line-height: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 5px;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.noneLine {
    border-width: 0px;
}

.underLine {
    border-width: 0px;
    border-bottom: 1px;
}
/* ========== */

