.UIAddBlock {
    width: 100%;
    height: 10px;
    
    display: flex;
    content-visibility: hidden;
    box-sizing: border-box;

    padding: 0px var(--btn-container-padding);
    margin: 5px 0;
    gap: 10px;

    border: 1px dashed rgb(190, 220, 255);
    border-radius: 20px;

    transition: all 0.2s;
}

.UIAddBlock:hover {
    height: auto;
    content-visibility: visible;
    padding: 10px;
}


.UIAddBlock > button {
    border-color: var(--light-main-color);
    border-style: dashed;

    color: var(--light-main-color);
}

.UIAddBlock > button:hover {
    background-color: var(--el-hover-color);
}

.UIAddBlock > button:active {
    background-color: var(--el-active-color);
}

.is_hover,
.is_active {
    border-color: var(--main-color);
    border-width: 2px;
}