.UIAddBlock {
    width: 100%;
    height: 10px;

    content-visibility: hidden;
    box-sizing: border-box;

    margin: 5px 0;

    transition: all 0.2s;
}

.UIAddBlock:hover {
    height: auto;
    content-visibility: visible;
    padding: 10px;
}


.UIAddBlock > button {
    border-color: var(--light-main-color);
    border-style: dashed;

    color: var(--light-main-color);
}

.UIAddBlock > button:hover {
    background-color: var(--el-hover-color);
}

.UIAddBlock > button:active {
    background-color: var(--el-active-color);
}

table:hover {
    /* cursor: pointer; */
    cursor: cell;
}

td:hover {
    cursor: cell;
}

.is_hover,
.is_active {
    border-color: var(--main-color);
    border-width: 2px;
}